# __pycache__
__pycache__

# .env
.env
src/utils/firebase_creds.json

# .vscode
.vscode

# .git
.git

# LOGGING FILES
error_log.txt 
test_log.txt
newman-report.xml
.coverage

# PACKAGE LOCK
package-lock.json
node_modules/